

.small {
    max-width: 150px;
    width: 150px;
    background-color: rgb(202, 233, 230);
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}